<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Temporary waiting page</title>
  <meta name="robots" content="noindex, nofollow">
</head>

<body>
  <p>Temporary waiting page</p>
</body>
</html>
